body {
  margin: 0;
  padding: 0;
}
div.headline {
  width: 100%;
  background-color: #444248;
  padding: 1em;
}
div.headline h1 {
  display: inline;
  color: #e95644;
}
div.headline h2 {
  margin-left: 1em;
  display: inline;
  color: #aaaaaa;
}
