// cyan 3E8686, lighter 4aa1a1
// lime 6FBE9D, lighter 8acaaf
body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  position: relative;
}
html, body, #container { height: 100%; }
body > #container { height: auto; min-height: 100%; }


h1.what1 {
  margin-left:76px;
  font-family: 'Oswald';
  font-size: 1.8em;
}
ul.what  {
  margin-left:60px;
  font-size: 1.2em;
  font-family: 'Oswald';
}

#footer {
 clear: both;
 position: relative;
 z-index: 10;
 height: 3em;
 margin-top: -3em;
}
#footer .x-messages.nomessages {
  opacity: 0 !important;
}
#footer .x-messages .badge {
  color: #6FBE9D;
  background-color: #fff;
}
#footer .x-messages:hover {
  max-height: 400px;
  opacity: 1;
}
#footer .x-messages:hover .icon-close {
  color:white;
  cursor:pointer;
}
#footer .x-messages {
  border-radius: 4px;
  background:#6FBE9D;
  // background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b3b3b3), color-stop(90%, #f0f0f0), color-stop(100%, #e0e0e0));
  color:#fff;

  opacity: .88;
  padding:.6em;
  position:absolute;
  bottom:0;

  transition: all 500ms ease-in;
  margin:0 .5em 1em 1em;
  overflow: hidden;
  width:60%;
  float:left;
  max-height: 40px;
  border-top:2px solid #fff;
  border-right:1px solid #fff;

}
#footer button:hover {
  background:#4aa1a1;
  color:#fff;
}
#footer button {
  position:absolute;
  bottom:0;
  padding:9px 19px 9px 19px;
  border:none;
  margin:0 .5em 1em 61%;
  float:left;
  border-radius: 4px;
  color:#f6fbf9;
  background:#3E8686;
  //background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b3b3b3), color-stop(50%, #c3c3c3), color-stop(51%, #b3b3b3), color-stop(100%, #f0f0f0));
}

#footer .x-messages div {
  font-size: larger;
}
#footer .x-messages.act {
  transition: all 300ms ease-out;
  border-top:2px solid #ddd;
  border-right:1px solid #ddd;
  max-height: 200px;
}

#footer .x-messages.act #iller {
  display:block;
  opacity: .55;
}
#footer .x-messages.act #iller:hover {
  opacity: 1;
}

#footer .x-messages #iller {
  display:none;
}

#content { padding-bottom: 3.5em; }


.lmenu-top {
  opacity: .2;
  font-size: 30px;
  color: #444;
  margin: 5px 10px 0 10px;
}
.lmenu {
  opacity: .5;
  font-size: 40px;
  color: #666;
  margin: 5px 10px 0 10px;
}
.lmenu:hover {
  opacity: .7;
  text-shadow: 0 0 20px #fff;
  color: #000;
  cursor: pointer;
  text-shadow: 0 0 8px #fff;
}
.inputRow {
  width: 100%;
}
@media (min-width: 594px) {
  #rightCol {
    width: 574px;
  }
}
@media (min-width: 764px) {
  #rightCol {
    width: 744px;
  }
}
@media (min-width: 880px) {
  #rightCol {
    width: 860px;
  }
}
@media (min-width: 1020) {
  #rightCol {
    width: 1000px;
  }
}
@media (min-width: 1150) {
  #rightCol {
    width: 1130px;
  }
}
@media (min-width: 1270) {
  #rightCol {
    width: 1250px;
  }
}
#rightCol {
  margin-left: 12px;
  padding: 6px 0 0 2px;
  float: left;
  min-width: 440px;
}
#leftCol {
  position: fixed;
  height: 230px;
  top: 0;
  left: 0;
  margin: 0;
}
#headRow #mm {
  position: relative;
  top: -50px;
  left: -20px;
  text-shadow: 0 0 20px #ddf;
  color: #eee;
  float: right;
  font-size: 32px;
}
#headRow #mm:hover {
  text-shadow: 0 0 20px #eef;
  color: white;
  cursor: pointer;
}
#headRow label {
  text-shadow: 0 0 20px #ddf;
  color: white;
  padding: 50px 0 0 90px;
  font-size: 26px;
}
#headRow div * {
  display: inline;
}
#headRow > div > h1 {
  font-family: 'Oswald';
}
#headRow div {
  text-shadow: 0 0 20px #ddf;
  color: white;
  padding: 30px 0 0 90px;
  font-size: 26px;
}
#headRow div span {
  font-size: 46px;
}
.slider.closed {
  max-height: 0 !important;
}
.slider.semi-open {
  max-height: 98px !important;
}
#headRow {
  overflow-y: hidden;
  max-height: 200px;
  /* approximate max height */

  transition-property: all;
  transition-duration: .4s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  background: #ccc;
  width: 100%;
  border-bottom: 6px solid #3E8686;
  background: #5c5c5c;
  background: -moz-linear-gradient(top, #5c5c5c 0%, #818181 50%, #757575 51%, #b3b3b3 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5c5c5c), color-stop(50%, #818181), color-stop(51%, #757575), color-stop(100%, #b3b3b3));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #5c5c5c 0%, #818181 50%, #757575 51%, #b3b3b3 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #5c5c5c 0%, #818181 50%, #757575 51%, #b3b3b3 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #5c5c5c 0%, #818181 50%, #757575 51%, #b3b3b3 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #5c5c5c 0%, #818181 50%, #757575 54%, #b3b3b3 100%);
  /* W3C */

}
@font-face {
  font-family: 'eyexsd';
  src: url('../../fonts/eyexsd.eot?-cbl5g3');
  src: url('../../fonts/eyexsd.eot?#iefix-cbl5g3') format('embedded-opentype'), url('../../fonts/eyexsd.woff?-cbl5g3') format('woff'), url('../../fonts/eyexsd.ttf?-cbl5g3') format('truetype'), url('../../fonts/eyexsd.svg?-cbl5g3#eyexsd') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'eyexsd';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-xsd:before {
  content: "\e600";
}
.icon-tag:before {
  content: "\e60f";
}
.icon-undo:before {
  content: "\e603";
}
.icon-key:before {
  content: "\e610";
}
.icon-key2:before {
  content: "\e611";
}
.icon-wrench:before {
  content: "\e612";
}
.icon-cog:before {
  content: "\e613";
}
.icon-menu:before {
  content: "\e602";
}
.icon-eye:before {
  content: "\e601";
}
.icon-notification:before {
  content: "\e605";
}
.icon-question:before {
  content: "\e606";
}
.icon-info:before {
  content: "\e607";
}
.icon-info2:before {
  content: "\e608";
}
.icon-blocked:before {
  content: "\e609";
}
.icon-cancel-circle:before {
  content: "\e60a";
}
.icon-close:before {
  content: "\e60b";
}
.icon-checkmark:before {
  content: "\e60c";
}
.icon-file-xml:before {
  content: "\e60e";
}
