body{
	margin:1em 0 .5em 0;
}

li.eSequence {
    padding:1em;
}
li.eComplexType {
	padding:1em;
    border:1px solid #ddd;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
li.eElem{
	padding:.4em;
}

ul {
	list-style-type: none;
}

li .icon {
	padding:.3em;
	margin-right:1em;
	border:1px solid grey;
    -webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

li.eElem > .icon {
	padding:.3em .6em .3em .6em;
}

li .prefix {
	color:#bbb;
}