@import "variables";


div.x{
    width: 4000px;
    margin-left: 44px;

    div.expander {
      border: 2px solid @container-border-color;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      padding: 0 6px 0 6px;
      margin: 4px;
      cursor: pointer;
    }
    span.et {
      color: @xsd-type-color;
    }
    span.ec {
      color: @main-color-hilight;
    }
    div {
      display: inline-block;
      border-collapse: collapse;
      margin: 0;
      padding: 0;
      vertical-align: middle;
    }
    & > div.hasBranch {
      border: none !important;
    }
    div.hasBranch {
      display: inline-block;
      border: 3px solid @elem-border-color;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      border-right: none;
      border-top: none;
      border-bottom: none;
      padding: 0px 2px 3px 10px;
      margin: 3px 0 3px 5px;
    }
    div.hasBranch > div {
      display: block;
    }
    div.padded {
      margin: 10px 10px 10px 0;
    }
    div.ctContainer > div > div.hasBranch {
      border: none !important;
    }
    div.ctContainer,
    div.xb {
      border: 3px solid @container-border-color;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      margin: .2em;
    }
    div.ctContainer > div > span,
    div.xb > div > span {
      display: block;
      vertical-align: top;
    }
    div.ctContainer > div > span > span,
    div.xb > div > span > span {
      vertical-align: top;
      padding: 3px;
      border: 3px solid @container-border-color;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-left: none;
      border-top: none;
      border-top-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    div.ctContainer > div > div,
    div.xb > div > div {
      padding: 5px 2px 2px 5px;
    }
    div.xb {
      color: #999;
    }

    span.doc {
      padding: 7px 5px 9px 3px;

      .icon-info-lined {
        font-size: 21px;
        color: @elem-border-color;
        padding: 1px 4px 1px 8px;
      }
    }
    span.element-l {
      padding: 7px 5px 9px 3px;
    }
    span.element-u {
      padding: 7px 5px 9px 3px;
    }
    span.element-e {
      border: 2px solid @elem-border-color;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      padding: 7px 5px 9px 3px;
    }
    span.element-e.optional {
      border-style: dotted !important;
    }
    span.element-e.unimportant {
      border-color: #ccd !important;
    }

    span.element-a {
      border: 2px solid @elem-border-color;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 18px;
      border-top-left-radius: 18px;
      padding: 7px 5px 9px 3px;
    }
    span.element-a.optional {
      border-style: dotted !important;
    }
    div.e {
      background: @elem-border-color;
      color: @xsd-light;
      border: 3px solid @elem-border-color;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      padding: 1px 6px 1px 6px;
    }
    div.a {
      background: #999999;
      color: @xsd-light;
      border: 3px solid #999999;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 13px;
      border-top-left-radius: 13px;
      padding: 1px 4px 1px 9px;

    }
    div.s {
      font-size: 18px;
      margin: 0 3px 0 7px;
      padding: 2px 4px 0 4px;
      color: @elem-border-color;
      border: 3px solid @elem-border-color;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
    }
}