.signatureFont () {
    font-family: 'Oswald';
}

@light-color: #ddd;
@hint-color: #888;
@hilight-color: #ef4503;

@heavy-bg: #2c2c2c;
@accent-bg: #000;
@content-pos: 114px;
@content-pos-smallhead: 20px;
#graph {
	padding-top: 44px;
}
.new {
	.ace_gutter {
		background-color: white !important;
		color: #eaeaea !important;
		transition: color .6s;
		&:hover {
			color: #aaa !important;
		}
	}
	.ace_print-margin {
		background-color: #333 !important;
		color:red !important;
	}
	.ace_gutter-active-line {
		background-color: white !important;
	}
	.content {
		#editor {
            position: fixed;
            top: @content-pos;
            width:80vw;
            bottom: 0;
            left: 0;
        }
		
		.perifer {
			transition: top .2s;
			&.small-header {
				top: @content-pos-smallhead;
			}
			padding-top:1vw;
			position: fixed;
            top: @content-pos;
            bottom: 0;
            right:0;
			width:19vw;

			
			.body {
				width:18vw;
				background-color: @heavy-bg;
				font-size: 22px;
				ul {
					&>li {
						color:white;
						padding: 0;
						margin: 0;
					}
					list-style: none;
					padding-left: 0;
					div {
						padding: 8px 2px 2px px;
						.session-head {
							a {
								color:white;
								text-decoration: none;
								transition: color .2s;
								&:hover {
									color: @hilight-color;
								}
							}
							
						}
						.session-hint {
							font-size: 16px;
							color:@hint-color;
						}
					}

				}


				
			}
		}
		.actions {
			position: fixed;
            bottom: 1vw;
            right:0;
			width:19vw;
			button {
				transition: background-color .2s;
				&.primary {
					background-color: darken(@light-color, 20%);
					&:hover {
						background-color: darken(@light-color, 30%);
					}
				}
				padding:10px 22px 10px 22px;
				font-size: 22px;
				font-weight: bold;
				background-color: @light-color;
				border: none;
				color: @accent-bg;
				&:hover {
					background-color: darken(@light-color, 10%);
				}
			}
			
		}

	}
	.header {
		&.small {
			position: fixed;
			width:100vw;

			.top {
				transition: all .2s;
				padding-top: 0;
				min-height: 0;
				div:nth-of-type(n+2) {
					display:none;
					transition: all .3s;
				}
				.icon-eye {
					color:#777;
					transition: all .2s;
					font-size: 28px;
					margin-top:0;
				}
			}

			.bottom {
				background-color:@accent-bg;
				min-height: 32px;
			}
		}

		.top {
			.signatureFont ();
			padding-top: 10px;
			color:black;
			width: 100%;
			min-height: 70px;
			.icon-eye {
				transition: all .2s;
				margin:15px 10px 0 12px;
				float:left;
				font-size: 38px;
				color:@light-color;
			}

			.more-xsd {
				float:left;
				margin-top:6px;
				.one {
					font-weight: bold;
					font-size: 54px;
					float:left;
					margin-top:-10px;
					margin-left: 8px;
				}

				.two {
					font-weight: bold;
					div {
						span.as {
							color:@hilight-color;
						}
					}
					&>*:first-child {
						font-size: 18px;
						span {
							color:#aaa;	
						}
					}
					&>*:last-child {
						color:#aaa;
						font-size: 24px;
					}
					float:left;
				}
			}
			
			.options {
				float:right;
				padding-top:30px;
				a {
					margin-right:30px;

					&:first-of-type {
						margin-left:300px;
					}
					color: @light-color;
					font-size: 24px;
					text-decoration: none;
					transition: color .2s;
					&:hover{
						color: darken(@hilight-color, 5%);
					}
				}
			}

		}
		.bottom {
			background-color:@accent-bg;
			width: 100%;
			min-height: 30px;
		}
		
	}

}