.signatureFont () {
    font-family: 'Oswald';
}

@main-cyan-hi: #3E8686;
@light-color: #ddd;
@hint-color: #888;
@hilight-color: #ef4503;
@form-color: #888;
@heavy-bg: #2c2c2c;
@accent-bg: #000;
@content-pos: 114px;
@content-pos-smallhead: 20px;
#graph {
	padding-top: 44px;
}
.new {
	.ace_gutter {
		background-color: white !important;
		color: #eaeaea !important;
		transition: color .6s;
		&:hover {
			color: #aaa !important;
		}
	}
	.ace_print-margin {
		background-color: #333 !important;
		color:red !important;
	}
	.ace_gutter-active-line {
		background-color: white !important;
	}
	.content {
		#editor {
			
			transition: opacity 280ms, margin-left 300ms;
			&.ina {
				margin-left:-120px;
				opacity: 0;
			}
            position: fixed;
            top: @content-pos;
            width:80vw;
            bottom: 0;
            left: 0;
        }
		.new-input {
			#new-info {
				transition: all .2s;
				&.hidden {
					opacity: 0
				}
			}
			p {
				font-size: 16px;
			}
			opacity:0;
			transition: right .2s ease-out, opacity .2s;
			&.show {
				opacity:1;
				right:0;
			}
			background:white;
			bottom: 140px;
			right:-300px;
			width:19vw;
			padding-top:1vw;
			position: fixed;
		}
		.perifer {
			&>div {
				max-height: 50vh;
				overflow:auto;
			}
			transition: top .2s;
			padding-top:1vh;
			padding-right:1vw;
			position: fixed;
            top: @content-pos;
            
            right:0;
			width:19vw;

			ul {
				box-shadow: none;
				border:none;
			}
			li {
				div {
					&.active {
						i {
							color:@main-cyan-hi;
						}
						color:@main-cyan-hi;
					}	
				}

				box-shadow: none;
				color: @form-color;
				.mdi-file-folder {
					color: @light-color;
				}
				.collapsible-header {
					transition: color .3s;
					&:hover{
						// color: darken(@hilight-color, 10%);
					}
				}
				ul {
					padding-left: 20px;
					padding-top: 8px;
					padding-bottom: 16px;
				}
			}
		}
		.actions {
			position: fixed;
            bottom: 1vw;
            right:0;
			width:19vw;
			button {
				cursor: pointer;
				transition: background-color .2s;
				&.primary {
					background-color: darken(@light-color, 20%);
					color: @accent-bg;
					&:hover {
						background-color: darken(@light-color, 30%);
					}
				}
				padding:10px 22px 10px 22px;
				font-size: 22px;
				font-weight: bold;
				background-color: white;
				color: #444;
				border: none;
				
				&:hover {
					color: @accent-bg;
					background-color: @light-color;
				}
			}
		}
	}
	.header {
		&.small {
			position: fixed;
			width:100vw;

			.top {
				transition: all .2s;
				padding-top: 0;
				min-height: 0;
				div:nth-of-type(n+2) {
					display:none;
					transition: all .3s;
				}
				.icon-eye {
					color:#777;
					transition: all .2s;
					font-size: 28px;
					margin-top:0;
				}
			}

			.bottom {
				background-color:@accent-bg;
				min-height: 32px;
			}
		}

		.top {
			.signatureFont ();
			padding-top: 10px;
			color:black;
			width: 100%;
			min-height: 70px;
			.icon-eye {
				transition: all .2s;
				margin:15px 10px 0 12px;
				float:left;
				font-size: 38px;
				color:@light-color;
			}

			.more-xsd {
				float:left;
				margin-top:6px;
				.one {
					font-weight: bold;
					font-size: 54px;
					float:left;
					margin-top:-10px;
					margin-left: 8px;
				}

				.two {
					font-weight: bold;
					div {
						span.as {
							color:@hilight-color;
						}
					}
					&>*:first-child {
						font-size: 18px;
						span {
							color:#aaa;	
						}
					}
					&>*:last-child {
						color:#aaa;
						font-size: 24px;
					}
					float:left;
				}
			}
			
			.options {
				float:right;
				padding-top:30px;
				a {
					margin-right:30px;

					&:first-of-type {
						margin-left:300px;
					}
					color: @light-color;
					font-size: 24px;
					text-decoration: none;
					transition: color .2s;
					&:hover{
						color: darken(@hilight-color, 5%);
					}
				}
			}

		}
		.bottom {
			background-color:@accent-bg;
			width: 100%;
			min-height: 30px;
		}
		
	}

}